@font-face {
    font-family: 'timesregular';
    src: url('https://www.bratgenerator.com/sites/g/files/g2000017981/files/2024-01/times-roman-01-webfont.eot');
}

@font-face {
    font-family: 'timesregular';
    src: url('sites/g/files/g2000017981/files/2024-01/times-roman-01-webfont.woff.html') format('woff'),
        url('https://www.bratgenerator.com/sites/g/files/g2000017981/files/2024-01/times-roman-01-webfont.ttf') format('truetype'),
        url('sites/g/files/g2000017981/files/2024-01/times-roman-01-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arial_narrowregular';
    src: url('sites/g/files/g2000017981/files/2024-03/arial_narrow-webfont.woff.html') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'compactablack';
    src: url('sites/g/files/g2000017981/files/2024-09/compacta_black_regular-webfont.woff2.html') format('woff2'),
        url('sites/g/files/g2000017981/files/2024-09/compacta_black_regular-webfont.woff.html') format('woff'),
        url('https://www.bratgenerator.com/sites/g/files/g2000017981/files/2024-09/compacta_black_regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
</style>
<style>
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#page,
#main-wrapper {
    /* background-color: #8ACF00; */
    overflow: hidden;
}

#memeContainer {
    position: relative;
    display: block;
    width: 100%;
    height: 80vh;
    margin-top: 0;
    font-size: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#memeImage {
    max-width: 100%;
    max-height: 400px;
}


#textInput {
    margin: 14px auto;
    padding: 0;
    font-size: 18px;
    border-width: 0px;
    border-radius: 16px;
    max-width: 450px;
    width: 90%;
    display: block;
    font-family: 'timesregular', serif;
    text-align: center;
    height: 50px;
    line-height: 50px;
    outline: none;
    position: relative;
    z-index: 50;
}

#textOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 48px;
    color: #000000;
    font-weight: 500;
    font-family: arial_narrowregular, "Arial Narrow", sans-serif;
    font-size: 280px;
    text-align: center;
    /* filter: blur(2px); */
    width: 100%;
}

body.blue #textOverlay {
    font-family: compactablack;
}

#saveBtn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#screenshot-blurb {
    font-size: 14px;
    font-family: 'arial_narrowregular';
    margin-bottom: 30px;
    text-transform: capitalize;
}
</style>
<style>
.footerWrapper>div.copyrightWrapper {
    font-size: 0.833333vw;
    font-size: 14px;
    font-family: "arial_narrowregular";
    margin: 1vw auto;
}

.diamond-row {
    font-family: 'arial_narrowregular', serif;
    font-weight: 400;
}

.footerWrapper .copyrightLinks {
    width: 150px;
    margin: 0 auto 20px;
}

.footerWrapper .copyrightLinks a {
    font-size: 0.833333vw;
    font-size: 14px;
    color: #000000;
    font-family: "arial_narrowregular";
    line-height: 1.5;
    transition: all 0.5s ease-in-out;
}

.footerWrapper .copyrightLinks a:hover {
    opacity: 0.5;
}

.footerWrapper .copyrightLinks div.otCookielink {
    margin: 1vw auto;
}

.copyrightLinks {
    width: 150px;
    margin: 0 auto 10px;
}

.socialWrapper.active {
    font-size: 0;
}

.themeSelector {
    position: fixed;
    top: 20px;
    left: 20px;
    border-radius: 50%;

    cursor: pointer;
    z-index: 51;
}

body.white div#toggleButtonWhite {
    border: 2px solid #000;
}

body.green:not(.black) div#toggleButtonGreen {
    border: 2px solid #000;
}

body.green:not(.black) div#toggleButtonBlue {
    border: 2px solid #DE0100;
}

body.black div#toggleButtonBlack {
    border: 2px solid #000;
}

.themeSelector>div#toggleButtonBlack {
    background-color: #000;
    border: 2px solid #000;
}

.themeSelector>div#toggleButtonWhite {
    background-color: #fff;
}

.themeSelector>div#toggleButtonGreen {
    background-color: rgb(138, 207, 0);
    border: 2px solid #000;
}

body.white .themeSelector>div#toggleButtonGreen {
    background-color: rgb(138, 207, 0);
    border: 2px solid transparent;
}

.themeSelector>div#toggleButtonBlue {
    background-color: #0A00AD;
    border: 2px solid #DE0100;
}

body.white .themeSelector>div#toggleButtonBlue {
    background-color: #0A00AD;
    border: 2px solid transparent;
}

.themeSelector>div {
    width: 20px;
    height: 20px;

    border-radius: 50%;
    display: inline-block;
}

@media only screen and (max-width: 1023px) and (orientation: landscape),
only screen and (max-width: 1024px) and (orientation: portrait) {
    .logo.position-center-screen {
        width: 48.372093vw;
        width: 100%;
        z-index: 1;
    }

    .popUpOpener>div>div,
    .popUpWrapper .socialWrapper ul.socials li a,
    .footerWrapper>div.copyrightWrapper,
    .footerWrapper .copyrightLinks a {
        font-size: 3.72093vw;
        font-size: 14px;
    }

    .footerWrapper {
        width: 53.953488vw;
        width: 100%;
    }
}
</style>

<style>
/*Default Theme */
body {
    background-color: #fff;
}

body #textInput {
    border: 1px solid #d1d1d1;
}

body.white #textOverlay,
body.black #textOverlay {
    font-size: 100px;
    max-width: 500px;
    text-align: justify;
    text-align-last: justify;
    padding: 20px;
    height: 500px;
}

body.black #textOverlay {
    text-align: left;
    text-align-last: left;
}

body.black #textOverlay .textFitted {

    transform: scaleX(-1);
}

div#textOverlay span.textFitted {
    font-weight: 500;
    font-family: arial_narrowregular, "Arial Narrow", sans-serif;
    font-size: 100px;
    filter: blur(2px);
}

body.black div#textOverlay span.textFitted {
    filter: blur(1.5px);
    text-align: left;
    float: right;
}

body.green #textOverlay {
    font-size: 5vw !important;
}

/*Green Theme */
body.green #textInput {
    border-width: 0px;
}

body.green #page,
body.green #main-wrapper {
    background-color: #8ACF00
}

.-is-visually-hidden {
    width: 1px;
    height: 1px;
    color: transparent;
    font-size: 0;
}

#memeText {
    display: none;
}

body.blue #memeText {
    display: block;
    color: #DE0100;
    font-size: 13vw;
    font-family: compactablack;
    font-weight: 900;
    text-transform: uppercase;
}


body.blue #textInput {
    border: 1px solid #d1d1d1;
    background-color: #F9FF3E;
    color: #000000;
    font-size: 1.35vw;
    line-height: 1.15vw;
    letter-spacing: -0.01vw;
    font-family: arial;
    font-weight: 900;
    text-transform: uppercase;
}

body.blue .footerWrapper .copyrightLinks a,
body.blue .footerWrapper,
body.blue #screenshot-blurb,
body.blue .footerWrapper>div.copyrightWrapper {
    color: #F9FF3E;
    font-size: 0.83vw;
    /* font-family: 'arial_narrowregular';
font-weight: 900; */
}

body.blue div#textOverlay span.textFitted {
    color: #DE0100;
    text-transform: uppercase;
    font-family: compactablack;
    filter: none;
}

body.blue #memeImage {
    max-width: 63.1vw;
    max-height: 400px;
}

body.blue .footerWrapper .copyrightLinks {
    width: 100%;
}


@media only screen and (max-width: 1023px) {
    #textOverlay {
        font-size: 150px;
    }

    body.white #textOverlay {
        /* font-size: 70px !important; */
        width: 350px;
        height: 350px;
        padding: 0;
    }

    #memeContainer {
        /* height: 90vh; */
        height: 85vh;
        margin-top: 10%;
    }

    .green div#memeContainer {
        min-height: 85vh;
        height: auto;
    }
}

@media only screen and (max-width: 1023px) and (orientation: landscape),
only screen and (max-width: 1024px) and (orientation: portrait) {
    body.green #textOverlay {
        font-size: 15vw !important;
        position: static;
        transform: none;
    }
}

@media only screen and (max-width: 1023px) and (orientation : landscape) {
    .green div#memeContainer {
        margin: 0 auto;
        display: block;
    }

    #memeImage {
        height: 100%;
    }
}

@media (max-width: 1024px) and (orientation:portrait) {
    body.blue #textInput {
        font-size: 6.05vw;
        line-height: 5.12vw;
        letter-spacing: -0.06vw;
        height: 8vw;
    }

    body.blue .footerWrapper .copyrightLinks a,
    body.blue .footerWrapper,
    body.blue #screenshot-blurb,
    body.blue .footerWrapper>div.copyrightWrapper {
        font-size: 3.72vw;
    }

    body.blue #memeImage {
        max-width: 90.7vw;
    }

    .footerWrapper .copyrightLinks a:hover {
        opacity: 1;
    }

    body.blue #memeText {
        font-size: 20vw;
    }
}
